In [25]:
import pandas as pd

In [26]:
CPI = 'CPIdata1950-2020.csv'
CPI_df = pd.read_csv(CPI)
CPI_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,1950,23.5,23.5,23.6,23.6,23.7,23.8,24.1,24.3,24.4,24.6,24.7,25.0,24.1,NaN,NaN
1,1951,25.4,25.7,25.8,25.8,25.9,25.9,25.9,25.9,26.1,26.2,26.4,26.5,26.0,NaN,NaN
2,1952,26.5,26.3,26.3,26.4,26.4,26.5,26.7,26.7,26.7,26.7,26.7,26.7,26.5,NaN,NaN
3,1953,26.6,26.5,26.6,26.6,26.7,26.8,26.8,26.9,26.9,27.0,26.9,26.9,26.7,NaN,NaN
4,1954,26.9,26.9,26.9,26.8,26.9,26.9,26.9,26.9,26.8,26.8,26.8,26.7,26.9,NaN,NaN

In [27]:
# create index multiplier
CPI_df['CPI_Multiplier'] = CPI_df['Annual'].iloc[-2] / CPI_df['Annual']

In [28]:
CPI_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,CPI_Multiplier
0,1950,23.500,23.500,23.600,23.600,23.700,23.800,24.100,24.300,24.400,24.600,24.700,25.000,24.100,NaN,NaN,10.608174
1,1951,25.400,25.700,25.800,25.800,25.900,25.900,25.900,25.900,26.100,26.200,26.400,26.500,26.000,NaN,NaN,9.832962
2,1952,26.500,26.300,26.300,26.400,26.400,26.500,26.700,26.700,26.700,26.700,26.700,26.700,26.500,NaN,NaN,9.647434
3,1953,26.600,26.500,26.600,26.600,26.700,26.800,26.800,26.900,26.900,27.000,26.900,26.900,26.700,NaN,NaN,9.575169
4,1954,26.900,26.900,26.900,26.800,26.900,26.900,26.900,26.900,26.800,26.800,26.800,26.700,26.900,NaN,NaN,9.503978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,240.007,238.778,241.237,1.065206
67,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,245.120,244.076,246.163,1.042987
68,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.107,250.089,252.125,1.018120
69,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,255.657,254.412,256.903,1.000000
70,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,NaN,NaN,NaN,NaN,NaN,NaN,257.557,NaN,NaN

In [30]:
clean_cpi = CPI_df.drop(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','Annual','HALF1','HALF2'], axis=1)

In [32]:
clean_cpi = clean_cpi.drop(index=70)

In [33]:
clean_cpi

    Year  CPI_Multiplier
0   1950       10.608174
1   1951        9.832962
2   1952        9.647434
3   1953        9.575169
4   1954        9.503978
..   ...             ...
65  2015        1.078644
66  2016        1.065206
67  2017        1.042987
68  2018        1.018120
69  2019        1.000000

[70 rows x 2 columns]

In [35]:
clean_cpi.to_csv('clean_cpi.csv', index=False)