In [1]:
# Import the Pandas library
import pandas as pd

In [5]:
# Create a reference the CSV file desired
csv_path = "Data/DisasterDeclarationsSummaries.csv"

# Read the CSV into a Pandas DataFrame
disaster_summary_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
disaster_summary_df.tail(100)

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh,id
900,226,0,1,1,0,KY,1967-03-27T00:00:00.000Z,1967,DR,Flood,SEVERE STORMS & FLOODING,1967-03-27T00:00:00.000Z,1967-03-27T00:00:00.000Z,1972-10-04T00:00:00.000Z,Breathitt (County),99025.0,650e0a2fdd2202179be4df5af8829ad0,2019-07-26T18:08:58.516Z,5d1bbd948bdcfa6efb330111
901,224,0,1,1,0,WV,1967-03-13T00:00:00.000Z,1967,DR,Flood,FLOODING,1967-03-13T00:00:00.000Z,1967-03-13T00:00:00.000Z,1969-08-11T00:00:00.000Z,Summers (County),99089.0,5d9704c4a607c27ea84eae96f4203a73,2019-07-26T18:08:58.511Z,5d1bbd948bdcfa6efb330112
902,228,0,1,1,0,NE,1967-07-18T00:00:00.000Z,1967,DR,Flood,SEVERE STORMS & FLOODING,1967-07-18T00:00:00.000Z,1967-07-18T00:00:00.000Z,1971-08-16T00:00:00.000Z,Boyd (County),99015.0,b7c6f6a04d0e6882eb71d6a8b15207ce,2019-07-26T18:08:58.635Z,5d1bbd948bdcfa6efb330113
903,226,0,1,1,0,KY,1967-03-27T00:00:00.000Z,1967,DR,Flood,SEVERE STORMS & FLOODING,1967-03-27T00:00:00.000Z,1967-03-27T00:00:00.000Z,1972-10-04T00:00:00.000Z,Lewis (County),99135.0,d8117235a8b993c4a49736ad92b18c69,2019-07-26T18:08:58.640Z,5d1bbd948bdcfa6efb330114
904,226,0,1,1,0,KY,1967-03-27T00:00:00.000Z,1967,DR,Flood,SEVERE STORMS & FLOODING,1967-03-27T00:00:00.000Z,1967-03-27T00:00:00.000Z,1972-10-04T00:00:00.000Z,Magoffin (County),99153.0,acfea9fce321a5b537dd5af62e0318bd,2019-07-26T18:08:58.508Z,5d1bbd948bdcfa6efb330115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,229,0,1,1,0,KS,1967-07-18T00:00:00.000Z,1967,DR,Tornado,"TORNADOES, SEVERE STORMS & FLOODING",1967-07-18T00:00:00.000Z,1967-07-18T00:00:00.000Z,1969-07-09T00:00:00.000Z,Pottawatomie (County),99149.0,b1d1a4c2d0af8bc2024602954664af06,2019-07-26T18:08:58.634Z,5d1bbd948bdcfa6efb330170
996,231,0,1,1,0,ID,1967-08-30T00:00:00.000Z,1967,DR,Fire,FOREST FIRES,1967-08-30T00:00:00.000Z,1967-08-30T00:00:00.000Z,1970-06-17T00:00:00.000Z,Idaho (County),99049.0,342dff3f482ad92ce182da5bda6f934f,2019-07-26T18:08:58.444Z,5d1bbd948bdcfa6efb330171
997,229,0,1,1,0,KS,1967-07-18T00:00:00.000Z,1967,DR,Tornado,"TORNADOES, SEVERE STORMS & FLOODING",1967-07-18T00:00:00.000Z,1967-07-18T00:00:00.000Z,1969-07-09T00:00:00.000Z,Marion (County),99115.0,a5fd442665ac7ccd08cc3de89e1a96a2,2019-07-26T18:08:58.295Z,5d1bbd948bdcfa6efb330172
998,229,0,1,1,0,KS,1967-07-18T00:00:00.000Z,1967,DR,Tornado,"TORNADOES, SEVERE STORMS & FLOODING",1967-07-18T00:00:00.000Z,1967-07-18T00:00:00.000Z,1969-07-09T00:00:00.000Z,Washington (County),99201.0,a4c93ae8f34e8803db1dbd4ed514ed2b,2019-07-26T18:08:58.786Z,5d1bbd948bdcfa6efb330173
999,231,0,1,1,0,ID,1967-08-30T00:00:00.000Z,1967,DR,Fire,FOREST FIRES,1967-08-30T00:00:00.000Z,1967-08-30T00:00:00.000Z,1970-06-17T00:00:00.000Z,Boundary (County),99021.0,f3d63dcd0c553b67d6b2c040a1d18040,2019-07-26T18:08:58.443Z,5d1bbd948bdcfa6efb330174

In [3]:
# Check to see if there are any rows with missing data
disaster_summary_df.count()

datetime                80332
city                    80332
state                   74535
country                 70662
shape                   78400
duration (seconds)      80332
duration (hours/min)    80332
comments                80317
date posted             80332
latitude                80332
longitude               80332
dtype: int64

# Remove the rows with missing data
clean_ufo_df = ufo_df.dropna(how="any")
clean_ufo_df.count()

In [5]:
# Collect a list of sightings seen in the US
columns = [
    "datetime",
    "city",
    "state",
    "country",
    "shape",
    "duration (seconds)",
    "duration (hours/min)",
    "comments",
    "date posted"
]

# Filter the data so that only those sightings in the US are in a DataFrame
usa_ufo_df = clean_ufo_df.loc[clean_ufo_df["country"] == "us", columns]
usa_ufo_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999

In [6]:
# Count how many sightings have occured within each state
state_counts = usa_ufo_df["state"].value_counts()
state_counts

ca    8683
fl    3754
wa    3707
tx    3398
ny    2915
il    2447
az    2362
pa    2319
oh    2251
mi    1781
nc    1722
or    1667
mo    1431
co    1385
in    1268
va    1248
ma    1238
nj    1236
ga    1235
wi    1205
tn    1091
mn     996
sc     986
ct     865
ky     843
md     818
nv     778
ok     714
nm     693
ia     669
al     629
ut     611
ks     599
ar     578
la     547
me     544
id     508
nh     482
mt     460
wv     438
ne     373
ms     368
ak     311
hi     257
vt     254
ri     224
sd     177
wy     169
de     165
nd     123
pr      24
dc       7
Name: state, dtype: int64

In [7]:
# Convert the state_counts Series into a DataFrame
state_ufo_counts_df = pd.DataFrame(state_counts)
state_ufo_counts_df.head()

    state
ca   8683
fl   3754
wa   3707
tx   3398
ny   2915

In [8]:
# Convert the column name into "Sum of Sightings"
state_ufo_counts_df = state_ufo_counts_df.rename(
    columns={"state": "Sum of Sightings"})
state_ufo_counts_df.head()

    Sum of Sightings
ca              8683
fl              3754
wa              3707
tx              3398
ny              2915

In [9]:
# Want to add up the seconds UFOs are seen? There is a problem
# Problem can be seen by examining datatypes within the DataFrame
usa_ufo_df.dtypes

datetime                object
city                    object
state                   object
country                 object
shape                   object
duration (seconds)      object
duration (hours/min)    object
comments                object
date posted             object
dtype: object

In [10]:
# Using astype() to convert a column's data into floats
usa_ufo_df.loc[:, "duration (seconds)"] = usa_ufo_df["duration (seconds)"].astype("float")
usa_ufo_df.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)      float64
duration (hours/min)     object
comments                 object
date posted              object
dtype: object

In [11]:
# Now it is possible to find the sum of seconds
usa_ufo_df["duration (seconds)"].sum()

351281285.38