In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [2]:
emissions_data_path = "../Data/Raw_Data/CO2Data.csv"
pop_data_path = "../Data/Raw_Data/pop_data.csv"
emissions_df = pd.read_csv(emissions_data_path)
pop_df = pd.read_csv(pop_data_path)

pop_df.head()
emissions_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,204.620372,208.822811,226.118079,214.800370,207.615777,185.203958,...,24.670529,24.507516,13.157722,8.353561,8.410064,8.610374,8.426911,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046057,0.053589,0.073721,0.074161,0.086174,0.101285,...,0.289988,0.406424,0.345149,0.280455,0.253728,0.262556,0.245101,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.100835,0.082204,0.210531,0.202737,0.213560,0.205891,...,1.244092,1.262825,1.361181,1.295075,1.664741,1.240245,1.202861,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.578574,1.803715,1.697966,1.697279,1.900070,1.602648,1.577163,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.122595,5.867410,5.916884,5.901775,5.832906,5.969786,6.072370,NaN,NaN,NaN

In [3]:
#for col in emissions_df.columns: 
#    print(col) 
#world_co2_df = emissions_df.drop(['Country Name', 'Country Code','Indicator Name','Indicator Code', '2017', '2018','2019'])
emissions_df = emissions_df.append(emissions_df.agg(['sum']))
emissions_df = emissions_df.fillna(0)
emissions_df.head(-1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,204.620372,208.822811,226.118079,214.800370,207.615777,185.203958,...,24.670529,24.507516,13.157722,8.353561,8.410064,8.610374,8.426911,0.0,0.0,0.0
1,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046057,0.053589,0.073721,0.074161,0.086174,0.101285,...,0.289988,0.406424,0.345149,0.280455,0.253728,0.262556,0.245101,0.0,0.0,0.0
2,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.100835,0.082204,0.210531,0.202737,0.213560,0.205891,...,1.244092,1.262825,1.361181,1.295075,1.664741,1.240245,1.202861,0.0,0.0,0.0
3,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.578574,1.803715,1.697966,1.697279,1.900070,1.602648,1.577163,0.0,0.0,0.0
4,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.122595,5.867410,5.916884,5.901775,5.832906,5.969786,6.072370,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.745656,4.672303,4.395272,4.441262,4.005283,4.702186,5.031520,0.0,0.0,0.0
260,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.011038,0.013599,0.012729,0.014518,0.017550,0.017926,...,1.011975,0.865783,0.764021,1.013754,0.955251,0.497091,0.390480,0.0,0.0,0.0
261,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.727221,5.832621,5.887170,5.961336,6.332342,6.616544,...,9.173055,9.179457,8.794997,8.553336,8.882322,8.376655,8.480658,0.0,0.0,0.0
262,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.000000,0.000000,0.000000,0.000000,0.946606,1.096876,...,0.197823,0.208412,0.254267,0.265078,0.292412,0.285428,0.314183,0.0,0.0,0.0
263,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.000000,0.000000,0.000000,0.000000,1.034903,1.166242,...,0.614549,0.746236,0.600303,0.881705,0.891739,0.891624,0.782777,0.0,0.0,0.0

In [4]:
emissions_df = emissions_df.drop(['Country Name', 'Country Code','Indicator Name','Indicator Code', '2017', '2018','2019']) #, axis=1)
emissions_df.head()

KeyError: "['Country Name' 'Country Code' 'Indicator Name' 'Indicator Code' '2017'\n '2018' '2019'] not found in axis"

In [ ]:
us_co2_series = emissions_df.loc[249]
us_co2_df = us_co2_series.to_frame()

In [ ]:
us_clean_df = us_co2_df
#.drop(['Country Name', 'Country Code','Indicator Name','Indicator Code', '2017', '2018','2019'])
us_clean_df['Year'] = us_clean_df.index
us_em_df = us_clean_df.rename(columns={249:"Metric ton per Capita Emissions"})

us_em_df = us_em_df[['Year', 'Metric ton per Capita Emissions']]

us_em_df.head()

In [ ]:
us_emission_line = us_em_df.plot.line(legend=None)
#plt.show

In [ ]:
us_pop_line = pop_df.plot.line(x='Population by Millions', y='Year')

In [ ]:
#pop_df = pop_df.to_frame()
#us_em_df = us_em_df.to_frame()

    #Shows data types
#pop_df.dtypes
print(type(pop_df))  

#us_em_df.dtypes
print(type(us_em_df))

In [ ]:
pop_df = pop_df.astype(int)
us_em_df = us_em_df.astype(int)

#pop_df = pop_df.to_numeric(pop_df.year)
#us_em_df = us_em_df.to_numeric(us_em_df.year)

In [ ]:
merged_data = pop_df.merge(us_em_df)

merged_data.head()

In [ ]:
merged_data = merged_data.rename(columns={'Population by Millions':"pop", 'Metric ton per Capita Emissions':'emissions'})
merged_data.dtypes

merged_data['US Total Emmissions'] = merged_data['pop'] * merged_data['emissions']

merged_data.head()

In [ ]:
x = merged_data['Year']
y = merged_data['US Total Emmissions']

#plt(x,y)
us_total_emissions_line = merged_data.plot.line(x='Year', y='US Total Emmissions')
plt.ylabel("Emissions by Metric Tons")
plt.savefig("../Images/UsEmissionsTrend.png")
plt.show()

In [ ]:
final_csv_location = "Data/Cleaned_data/Year_CO2_Pop_data.csv"
merged_data.to_csv(final_csv_location)