In [26]:
import pandas as pd

In [27]:
CPI = 'CPIdata1950-2020.csv'
CPI_df = pd.read_csv(CPI)
CPI_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,1950,23.5,23.5,23.6,23.6,23.7,23.8,24.1,24.3,24.4,24.6,24.7,25.0,24.1,NaN,NaN
1,1951,25.4,25.7,25.8,25.8,25.9,25.9,25.9,25.9,26.1,26.2,26.4,26.5,26.0,NaN,NaN
2,1952,26.5,26.3,26.3,26.4,26.4,26.5,26.7,26.7,26.7,26.7,26.7,26.7,26.5,NaN,NaN
3,1953,26.6,26.5,26.6,26.6,26.7,26.8,26.8,26.9,26.9,27.0,26.9,26.9,26.7,NaN,NaN
4,1954,26.9,26.9,26.9,26.8,26.9,26.9,26.9,26.9,26.8,26.8,26.8,26.7,26.9,NaN,NaN

In [28]:
# create index multiplier
CPI_df['CPI_Multiplier'] = CPI_df['Annual'].iloc[-2] / CPI_df['Annual']

In [29]:
CPI_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2,CPI_Multiplier
0,1950,23.500,23.500,23.600,23.600,23.700,23.800,24.100,24.300,24.400,24.600,24.700,25.000,24.100,NaN,NaN,10.608174
1,1951,25.400,25.700,25.800,25.800,25.900,25.900,25.900,25.900,26.100,26.200,26.400,26.500,26.000,NaN,NaN,9.832962
2,1952,26.500,26.300,26.300,26.400,26.400,26.500,26.700,26.700,26.700,26.700,26.700,26.700,26.500,NaN,NaN,9.647434
3,1953,26.600,26.500,26.600,26.600,26.700,26.800,26.800,26.900,26.900,27.000,26.900,26.900,26.700,NaN,NaN,9.575169
4,1954,26.900,26.900,26.900,26.800,26.900,26.900,26.900,26.900,26.800,26.800,26.800,26.700,26.900,NaN,NaN,9.503978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,240.007,238.778,241.237,1.065206
67,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,245.120,244.076,246.163,1.042987
68,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.107,250.089,252.125,1.018120
69,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,255.657,254.412,256.903,1.000000
70,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,NaN,NaN,NaN,NaN,NaN,NaN,257.557,NaN,NaN

In [30]:
clean_cpi = CPI_df.drop(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','Annual','HALF1','HALF2'], axis=1)

In [31]:
clean_cpi = clean_cpi.drop(index=70)

In [32]:
clean_cpi

    Year  CPI_Multiplier
0   1950       10.608174
1   1951        9.832962
2   1952        9.647434
3   1953        9.575169
4   1954        9.503978
..   ...             ...
65  2015        1.078644
66  2016        1.065206
67  2017        1.042987
68  2018        1.018120
69  2019        1.000000

[70 rows x 2 columns]

In [33]:
clean_cpi.to_csv('clean_cpi.csv', index=False)

In [34]:
file_to_load = 'clean_cpi.csv'
data = pd.read_csv(file_to_load)
clean_cpi = data 
clean_cpi = clean_cpi.rename(columns={'Year': 'YEAR'})
clean_cpi

    YEAR  CPI_Multiplier
0   1950       10.608174
1   1951        9.832962
2   1952        9.647434
3   1953        9.575169
4   1954        9.503978
..   ...             ...
65  2015        1.078644
66  2016        1.065206
67  2017        1.042987
68  2018        1.018120
69  2019        1.000000

[70 rows x 2 columns]

In [35]:
file_to_load = 'ttwh_df.csv'
data = pd.read_csv(file_to_load)
clean_df = data 
clean_df

,Unnamed: 0,Unnamed: 0.1,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,DATA_SOURCE,property_money_identifier,crops_money_identifier
0,0,0,10096222,OKLAHOMA,1950,April,Tornado,0,0,0,0,250000.0,0.0,0.0,PUB,1000,1
1,1,1,10120412,TEXAS,1950,April,Tornado,0,0,0,0,25000.0,0.0,0.0,PUB,1000,1
2,2,2,10104927,PENNSYLVANIA,1950,July,Tornado,2,0,0,0,25000.0,0.0,0.0,PUB,1000,1
3,3,3,10104928,PENNSYLVANIA,1950,July,Tornado,0,0,0,0,2500.0,0.0,0.0,PUB,1000,1
4,4,4,10104929,PENNSYLVANIA,1950,July,Tornado,0,0,0,0,2500.0,0.0,0.0,PUB,1000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262573,380963,1602142,859300,CALIFORNIA,2019,September,Thunderstorm,0,0,0,0,0.0,2500000.0,43.0,CSV,1,1000
262574,380965,1602163,851786,IOWA,2019,August,Thunderstorm,0,0,0,0,50000.0,0.0,61.0,CSV,1000,1
262575,380966,1602164,851787,IOWA,2019,August,Thunderstorm,0,0,0,0,100000.0,0.0,74.0,CSV,1000,1
262576,380967,1602168,855914,ARIZONA,2019,September,Thunderstorm,0,0,0,0,3000.0,0.0,60.0,CSV,1000,1000
262577,380969,1602175,859302,CALIFORNIA,2019,September,Thunderstorm,0,0,0,0,4000000.0,0.0,43.0,CSV,1000,1000

In [36]:
merged_df = pd.merge(clean_df, clean_cpi, how='left', on='YEAR')
merged_df.head()

,Unnamed: 0,Unnamed: 0.1,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,DATA_SOURCE,property_money_identifier,crops_money_identifier,CPI_Multiplier
0,0,0,10096222,OKLAHOMA,1950,April,Tornado,0,0,0,0,250000.0,0.0,0.0,PUB,1000,1,10.608174
1,1,1,10120412,TEXAS,1950,April,Tornado,0,0,0,0,25000.0,0.0,0.0,PUB,1000,1,10.608174
2,2,2,10104927,PENNSYLVANIA,1950,July,Tornado,2,0,0,0,25000.0,0.0,0.0,PUB,1000,1,10.608174
3,3,3,10104928,PENNSYLVANIA,1950,July,Tornado,0,0,0,0,2500.0,0.0,0.0,PUB,1000,1,10.608174
4,4,4,10104929,PENNSYLVANIA,1950,July,Tornado,0,0,0,0,2500.0,0.0,0.0,PUB,1000,1,10.608174

In [37]:
merged_df['CPIAdjPrice'] = merged_df['DAMAGE_PROPERTY'] * merged_df['CPI_Multiplier']
merged_df['CROPADJ'] = merged_df['DAMAGE_CROPS'] * merged_df['CPI_Multiplier']
merged_df.head()

,Unnamed: 0,Unnamed: 0.1,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,DATA_SOURCE,property_money_identifier,crops_money_identifier,CPI_Multiplier,CPIAdjPrice,CROPADJ
0,0,0,10096222,OKLAHOMA,1950,April,Tornado,0,0,0,0,250000.0,0.0,0.0,PUB,1000,1,10.608174,2.652044e+06,0.0
1,1,1,10120412,TEXAS,1950,April,Tornado,0,0,0,0,25000.0,0.0,0.0,PUB,1000,1,10.608174,2.652044e+05,0.0
2,2,2,10104927,PENNSYLVANIA,1950,July,Tornado,2,0,0,0,25000.0,0.0,0.0,PUB,1000,1,10.608174,2.652044e+05,0.0
3,3,3,10104928,PENNSYLVANIA,1950,July,Tornado,0,0,0,0,2500.0,0.0,0.0,PUB,1000,1,10.608174,2.652044e+04,0.0
4,4,4,10104929,PENNSYLVANIA,1950,July,Tornado,0,0,0,0,2500.0,0.0,0.0,PUB,1000,1,10.608174,2.652044e+04,0.0

In [38]:
#merged_df.to_csv('CPIadjPrice.csv', index=False)

In [39]:
merged_df.to_csv('ttwhadj.csv', index=False)

In [40]:
file_to_load = 'ninety_six_df.csv'
data = pd.read_csv(file_to_load)
clean_df = data 
clean_df

,Unnamed: 0,Unnamed: 0.1,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,DATA_SOURCE,property_money_identifier,crops_money_identifier
0,26163,188790,10317829,FLORIDA,1993,March,"TORNADOES, TSTM WIND, HAIL",0,0,25,0,1.600000e+09,2500000.0,0.0,CSV,1000000000,1000000
1,37804,215779,10338716,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,2.000000e+03,0.0,0.0,CSV,1000,1
2,38225,216743,10337585,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREE,0,0,0,0,1.000000e+03,0.0,0.0,CSV,1000,1
3,38227,216745,10337587,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,1.000000e+03,0.0,0.0,CSV,1000,1
4,38228,216746,10337588,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,2.000000e+03,0.0,0.0,CSV,1000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118387,380959,1602127,857515,VIRGINIA,2019,September,Tropical Storm,0,0,0,0,1.000000e+04,0.0,NaN,CSV,1000,1000
118388,380960,1602128,857520,VIRGINIA,2019,September,Tropical Storm,0,0,0,0,1.500000e+04,0.0,NaN,CSV,1000,1000
118389,380961,1602136,858098,CALIFORNIA,2019,September,Strong Wind,0,0,0,0,2.000000e+03,0.0,35.0,CSV,1000,1000
118390,380964,1602162,857521,VIRGINIA,2019,September,Tropical Storm,0,0,0,0,1.000000e+04,0.0,NaN,CSV,1000,1000
118391,380968,1602172,861557,ILLINOIS,2019,June,Flood,0,0,0,0,8.100000e+06,0.0,NaN,CSV,1000000,1000

In [41]:
merged_df = pd.merge(clean_df, clean_cpi, how='left', on='YEAR')
merged_df.head()

,Unnamed: 0,Unnamed: 0.1,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,DATA_SOURCE,property_money_identifier,crops_money_identifier,CPI_Multiplier
0,26163,188790,10317829,FLORIDA,1993,March,"TORNADOES, TSTM WIND, HAIL",0,0,25,0,1.600000e+09,2500000.0,0.0,CSV,1000000000,1000000,1.769253
1,37804,215779,10338716,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,2.000000e+03,0.0,0.0,CSV,1000,1,1.677539
2,38225,216743,10337585,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREE,0,0,0,0,1.000000e+03,0.0,0.0,CSV,1000,1,1.677539
3,38227,216745,10337587,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,1.000000e+03,0.0,0.0,CSV,1000,1,1.677539
4,38228,216746,10337588,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,2.000000e+03,0.0,0.0,CSV,1000,1,1.677539

In [42]:
merged_df['CPIAdjPrice'] = merged_df['DAMAGE_PROPERTY'] * merged_df['CPI_Multiplier']
merged_df['CROPADJ'] = merged_df['DAMAGE_CROPS'] * merged_df['CPI_Multiplier']
merged_df.head()

,Unnamed: 0,Unnamed: 0.1,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,MAGNITUDE,DATA_SOURCE,property_money_identifier,crops_money_identifier,CPI_Multiplier,CPIAdjPrice,CROPADJ
0,26163,188790,10317829,FLORIDA,1993,March,"TORNADOES, TSTM WIND, HAIL",0,0,25,0,1.600000e+09,2500000.0,0.0,CSV,1000000000,1000000,1.769253,2.830804e+09,4.423131e+06
1,37804,215779,10338716,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,2.000000e+03,0.0,0.0,CSV,1000,1,1.677539,3.355079e+03,0.000000e+00
2,38225,216743,10337585,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREE,0,0,0,0,1.000000e+03,0.0,0.0,CSV,1000,1,1.677539,1.677539e+03,0.000000e+00
3,38227,216745,10337587,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,1.000000e+03,0.0,0.0,CSV,1000,1,1.677539,1.677539e+03,0.000000e+00
4,38228,216746,10337588,NORTH CAROLINA,1995,June,THUNDERSTORM WIND/ TREES,0,0,0,0,2.000000e+03,0.0,0.0,CSV,1000,1,1.677539,3.355079e+03,0.000000e+00

In [43]:
merged_df.to_csv('CPIninety_six_df.csv', index=False)